.form {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
